.footer{
    padding-top: 55.625rem;
    padding-bottom: 5.6875rem;

    @include breakpoint-up(medium){
        
        padding-top: 37.375rem;
    }

    @include breakpoint-up(large){
        
        padding-top: 21.875rem;
        padding-bottom: 6.25rem;
    }

    > h3{
        color: white;
        text-align: center;
        @include breakpoint-up(large){
            text-align: left;
        }
    }

    &__date{
        color: $primary1;
    }


    
            
       

}