// css for form section on sign-up.html 
.form__container{
    background-color: white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 0.8125rem;
    width: 100%;
    padding: 1.5rem;
    text-align: left;
    position: relative;
    
    @include breakpoint-up(medium){
        width: 27.8125rem;
    }
}

// wrapping div - helps to position label tag
.component-wrap{
    position: relative;
    height: 4.375rem;
    
    // display label inside input
    label{
        position: absolute;
        font-size: 1rem;
        left: 1rem;
        top: 1.4rem;
        transition: all 300ms ease-in-out;
    }

}

// display label on top of input
.normal label{
    transform: translateY(-1.7rem);
    font-size: 0.8rem;
    
}


// form fields input
input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 1px solid $grayLighter;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    padding: 0.9rem;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  
    // error look of the input 
    &.error {
      border-bottom: 1px solid $error;
      color: $error;
      background-image: url("./../assets/sign-up/icon-cross.svg");
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
  
  ::-webkit-input-placeholder {
    /* Edge */
    color: $grayOpacity;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer */
    color: $grayOpacity;
  }
  
  ::placeholder {
    color: $grayOpacity;
  }
  

  // button design
  .button {
    padding: 0.875rem 2.5625rem;
    font-weight: 600;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    border-radius: 1.75rem;
    line-height: 1.75rem;
    display: inline-block;
    border: none;
    
  
    &--dark-blue {
      color: white;
      background-color: $primary1;
  
      &:hover {
        background-color: $primary2;
      }
    }
  
    &--light-blue {
      color: $primary1;
      background-color: $primary4;
  
      &:hover {
        background-color: $primary3;
      }
    }
  
    &--white {
      color: $primary1;
      background-color: white;
  
      &:hover {
        color: $primary2;
      }
    }
  
    &--shadow {
      box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    }

    &--full{
        width: 100%;
        margin: 1rem 0rem;
    }
  }