* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: $grayLighter;
  font-weight: 300;
  line-height: 1.75;
  background-color: #fafafa;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: $grayMiddle;

  @include breakpoint-up(large) {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $grayMiddle;
}

h3 {
  font-size: 1rem;
  line-height: 3rem;
  color: $grayMiddle;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

main {
  position: relative;
  z-index: 5;
}

p {
  padding-bottom: 1.5rem;
}

.content {
  overflow-x: hidden;
  width: 100vw;  
}

/*background for signup page, which is split into white and darkgray */
.background{
  position: relative;
  min-height: 100%;

  &::after{
    content: "";
    height: 20rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $grayDarker;
    background-image: url("./../assets/sign-up/bg-pattern-side.svg");
    background-size: 75.125rem 75.125rem;
    background-position: center center;
    z-index: -1;

    @include breakpoint-up(medium){
      height: 23.75rem;
    width: 100%;
    background-size: 90.875rem 90.875rem;
    }

    @include breakpoint-up(large){
      height: 100%;
      width: 30%;
      top: 0;
      bottom: unset;
      right: 0;
      background-size: 127.25rem 127.255rem;
      background-position: center center;
    }

  }
}

.container {
  margin: 0 1.5rem 0 1.5rem;
  box-sizing: border-box;
  position: relative;

  @include breakpoint-up(medium) {
    margin: 0 2.5rem 0 2.5rem;
  }

  @include breakpoint-up(large) {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}


.font--bigger {
  font-size: 1rem;

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
  }
}

// for screen readers only
.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  color: transparent;
  overflow: hidden;
  background: transparent;
}


.flex {
  display: flex;

  &--jc-c {
    justify-content: center;
  }
}
