* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: $grayLighter;
  font-weight: 300;
  line-height: 1.75;
  background-color: #fafafa;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: $grayMiddle;

  @include breakpoint-up(large) {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $grayMiddle;
}

h3 {
  font-size: 1rem;
  line-height: 3rem;
  color: $grayMiddle;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

main {
  position: relative;
  z-index: 5;
}

.content {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100%;
  height: 100%;

  /*
  &--two-color{
    background: linear-gradient(180deg, #FFFFFF 75%, $grayDarker 25%), url("./../assets/home/bg-pattern-header.svg");
   // background-position: top left, bottom center;

    @include breakpoint-up(medium){
      background: linear-gradient(180deg, #FFFFFF 71%, $grayDarker 29%), url("./../assets/home/bg-pattern-header.svg");
    }

    @include breakpoint-up(large){
      background: linear-gradient(90deg, #FFFFFF 71%, $grayDarker 29%), url("./../assets/home/bg-pattern-header.svg");
    }
  }
*/

  &__background {
    flex-direction: column;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;

    .white {
      width: 100%;
      height: 75%;
      background-color: pink;
      //display: block;

      @include breakpoint-up(medium) {
        width: 70%;
        height: 100%;
      }

      @include breakpoint-up(large) {
        width: 70%;
        height: 100%;
      }
    }

    .black {
      width: 100%;
      height: 25%;
      background-color: $grayDarker;
      //display: block;

      @include breakpoint-up(medium) {
        width: 30%;
        height: 100%;
      }

      @include breakpoint-up(large) {
        width: 30%;
        height: 100%;
      }
    }
  }
}
/*
.bottom-back{
 
  position: absolute;
   
  left: 0;

 
bottom:0;
  
  background-color: $grayDarker;
  width: 100%;
  height: 20rem;
  background-image: url("./../assets/sign-up/bg-pattern-side.svg");
  background-position: center center;
  background-size: 75.125rem 75.125rem;
  background-repeat: no-repeat;
  z-index: -1;

  @include breakpoint-up(medium){
    height: 23.75rem;
    background-size: 90.875rem 90.875rem;

  }

}
*/

.container {
  margin: 0 1.5rem 0 1.5rem;
  box-sizing: border-box;
  position: relative;

  @include breakpoint-up(medium) {
    margin: 0 2.5rem 0 2.5rem;
  }

  @include breakpoint-up(large) {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

p {
  padding-bottom: 1.5rem;
}

.font--bigger {
  font-size: 1rem;

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
  }
}

// for screen readers only
.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  color: transparent;
  overflow: hidden;
}

// form fields input
input[type="text"] {
  border: none;
  border-bottom: 1px solid $grayLighter;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  position: relative;
  display: block;
  width: 100%;

  &.error {
    border-bottom: 1px solid $error;
    color: $error;
    position: relative;
    background-image: url("./../assets/sign-up/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: $grayOpacity;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: $grayOpacity;
}

::placeholder {
  color: $grayOpacity;
}

.button {
  padding: 0.875rem 2.5625rem;
  font-weight: 600;
  border-radius: 1.75rem;
  line-height: 1.75rem;
  display: inline-block;

  &--dark-blue {
    color: white;
    background-color: $primary1;

    &:hover {
      background-color: $primary2;
    }
  }

  &--light-blue {
    color: $primary1;
    background-color: $primary4;

    &:hover {
      background-color: $primary3;
    }
  }

  &--white {
    color: $primary1;
    background-color: white;

    &:hover {
      color: $primary2;
    }
  }

  &--shadow {
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  }
}

.flex {
  display: flex;

  &--jc-c {
    justify-content: center;
  }
}
