
//640px, 1024px, 1400px
$breakpoints-up:  ("medium": "40em", "large": "64em", "xlarge": "87.5em");


// 639px, 1023px, 1399px
$breakpoints-down:  ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}

@mixin price-card($font-color, $font-color2, $bg-color, $bg-image: false){
    background-color: $bg-color;
    @if $bg-image {
        background-image: url("./../assets/home/bg-pattern-pricing.svg");
        background-position: center bottom;
    }
    

    .version {
        color: $font-color;
        margin: 0 0 2.5rem 0;
        @include breakpoint-up(medium){
            margin-bottom: 1rem;
        }
        @include breakpoint-up(large){
            margin-bottom: 2.5rem;
        }
    }

    .price{
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 4rem;
        color: $font-color;
        margin-bottom: 0.5rem;

    }

    .users{
        color: $font-color;
        align-items: center;
        margin-bottom: 3.5rem;
        @include breakpoint-up(medium){
            margin-bottom: 0rem;
        }
        @include breakpoint-up(large){
            margin-bottom: 3.5rem;
        }
    }

    .info{
        color: $font-color2;
        margin-bottom: 2rem;
        br{
            margin-bottom: 1rem;
        }

        @include breakpoint-up(medium){
            margin-bottom: 0.25rem;
        }
        @include breakpoint-up(large){
            margin-bottom: 2rem;
        }
    }


}
