.bg-footer{
    position: relative;
    background-color: $grayDarker;
    background-image: url("./../assets/home/bg-pattern-footer.svg");
    background-repeat: no-repeat;
    background-size: 75.125rem 75.125rem;
    background-position: center 10rem;
    width: 100%;
     

    @include breakpoint-up(medium){
        background-size: 90.875rem 90.875rem;
        background-position: center top;
    }

    @include breakpoint-up(large){
        background-position: -25rem center;
    }
}

// design for price 
.price-table{
    position: absolute;
    width: 100%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    text-align: center;
    
    @include breakpoint-up(medium){
        text-align: left;
    }
    
    @include breakpoint-up(large){
        flex-direction: row;
        justify-content: space-between;
    }



    &__column{

        padding: 2.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.8125rem;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        
        @include breakpoint-up(medium){
            padding: 3rem;       
        }

        @include breakpoint-up(large){
            width: 31.5%;
            margin-bottom: 0rem;
            text-align: center;       
        }

        span{
            display: block;
        }     
    }

    &--flex{
        display: flex;
        flex-direction: column;  
        justify-content: center;

        @include breakpoint-up(medium){
            flex-direction: row;
            justify-content: space-between;
        }

        @include breakpoint-up(large){
            flex-direction: column;
            justify-content: center;
        }
    }

    &__inner-col{
        @include breakpoint-up(medium){
            width: 44%;
        }

        @include breakpoint-up(large) {
            width: 100%;
        }
    }

    

    &--white{
        @include price-card($grayMiddle, $grayLighter, white, $bg-image: false);

    }

    &--blue{
        @include price-card(white, $primary3, $primary1, $bg-image: true);
    }

    
}