
// background on the bottom of the page index.html
.bg-footer{
    position: relative;
    background-color: $grayDarker;
    background-image: url("./../assets/home/bg-pattern-footer.svg");
    background-repeat: no-repeat;
    background-size: 75.125rem 75.125rem;
    background-position: center 10rem;
    width: 100%;
     

    @include breakpoint-up(medium){
        background-size: 90.875rem 90.875rem;
        background-position: center top;
    }

    @include breakpoint-up(large){
        background-position: -25rem center;
    }
}

// design for price list on index.html
.price-table{
    position: absolute;
    width: 100%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    text-align: center;
    
    @include breakpoint-up(medium){
        text-align: left;
    }
    
    @include breakpoint-up(large){
        flex-direction: row;
        justify-content: space-between;
    }



    &__column{

        padding: 2.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.8125rem;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        
        @include breakpoint-up(medium){
            padding: 3rem;       
        }

        @include breakpoint-up(large){
            width: 31.5%;
            margin-bottom: 0rem;
            text-align: center;       
        }

        span{
            display: block;
        }     
    }

    &--flex{
        display: flex;
        flex-direction: column;  
        justify-content: center;

        @include breakpoint-up(medium){
            flex-direction: row;
            justify-content: space-between;
        }

        @include breakpoint-up(large){
            flex-direction: column;
            justify-content: center;
        }
    }

    &__inner-col{
        @include breakpoint-up(medium){
            width: 44%;
        }

        @include breakpoint-up(large) {
            width: 100%;
        }
    }

    
// the white column setup
    &--white{
        background-color: white;
           
        .version {
            color: $grayMiddle;
            margin: 0 0 2.5rem 0;
            @include breakpoint-up(medium){
                margin-bottom: 1rem;
            }
            @include breakpoint-up(large){
                margin-bottom: 2.5rem;
            }
        }
    
        .price{
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 4rem;
            color: $grayMiddle;
            margin-bottom: 0.5rem;
    
        }
    
        .users{
            color: $grayMiddle;
            align-items: center;
            margin-bottom: 3.5rem;
            @include breakpoint-up(medium){
                margin-bottom: 0rem;
            }
            @include breakpoint-up(large){
                margin-bottom: 3.5rem;
            }
        }
    
        .info{
            color: $grayLighter;
            margin-bottom: 2rem;
            br{
                margin-bottom: 1rem;
            }
    
            @include breakpoint-up(medium){
                margin-bottom: 0.25rem;
            }
            @include breakpoint-up(large){
                margin-bottom: 2rem;
            }
        }
    

    }

    // blue column extends the white column but change some properties
    &--blue{
        @extend .price-table--white;

        background-color: $primary1;
        background-image: url("./../assets/home/bg-pattern-pricing.svg");
        background-position: center bottom;

        .version{
            color: white;
        }

        .price{
            color: white;
        }

        .users{
            color: white;
        }

        .info{
            color: $primary3;
        }
    }

    
}