/* This is custom design of the select tag */

// visible part of the select tag in html
.custom-select {
  background-color: transparent;
  border-bottom: 1px solid $grayMiddle;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  color: $grayMiddle;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  
  .custom-select__arrow{
    content: url("./../assets/sign-up/icon-arrow-down.svg");
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.25rem);
    transition: transform 300ms ease-in-out;
  }
}

// rotation of the arrow on the top of the select
.rotation{
  transform: rotate(180deg);
}

// this is disabled options, it is visible on click
.custom-options {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  width: 90%;
  padding: 0.3rem 2rem;
  margin-top: 0rem;
  box-sizing: border-box;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 10;

  > div {
    width: 100%;
    padding: 1rem;
    color: $grayMiddle;
    font-weight: 700;
    position: relative;
    

    &:not(:last-child) {
      border-bottom: 1px solid $grayOpacity;
    }

    &:hover {
      cursor: pointer;
      color: $primary1;
      border-bottom: 1px solid $primary1;
    }
  }

  &--is-selected {
    &::after {
      content: url("./../assets/sign-up/icon-check.svg");
      position: absolute;
      right: 1rem;
    }
  }
}

/*
// https://moderncss.dev/custom-select-styles-with-pure-css/
// https://www.w3schools.com/howto/howto_custom_select.asp
*/
