// Colors 

$primary1: #5175FF;
$primary2: #829CFF;

$primary--light: rgba(81, 117, 255, 0.25);
$primary--lighter: rgba(81, 117, 255, 0.15);

$grayMiddle: #333950;
$grayDarker: #25293A;
$grayLighter: #747B95;

$error: #F05B5B;

