// Colors 

$primary1: #5175FF;
$primary2: #829CFF;
$primary3: #cfd8fb;
$primary4: #e1e6fb;

$primaryLight: rgba(81, 117, 255, 0.25);
$primaryLighter: rgba(81, 117, 255, 0.15);

$grayMiddle: #333950;
$grayDarker: #25293A;
$grayLighter: #747B95;

$grayOpacity: rgba(116, 123, 149, 0.5);

$error: #F05B5B;

