* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: #747B95;
  font-weight: 300;
  line-height: 1.75;
  background-color: #fafafa;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #333950;
}
@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #333950;
}

h3 {
  font-size: 1rem;
  line-height: 3rem;
  color: #333950;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

main {
  position: relative;
  z-index: 5;
}

p {
  padding-bottom: 1.5rem;
}

.content {
  overflow-x: hidden;
  width: 100vw;
}

/*background for signup page, which is split into white and darkgray */
.background {
  position: relative;
  min-height: 100%;
}
.background::after {
  content: "";
  height: 20rem;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #25293A;
  background-image: url("./../assets/sign-up/bg-pattern-side.svg");
  background-size: 75.125rem 75.125rem;
  background-position: center center;
  z-index: -1;
}
@media (min-width: 40em) {
  .background::after {
    height: 23.75rem;
    width: 100%;
    background-size: 90.875rem 90.875rem;
  }
}
@media (min-width: 64em) {
  .background::after {
    height: 100%;
    width: 30%;
    top: 0;
    bottom: unset;
    right: 0;
    background-size: 127.25rem 127.255rem;
    background-position: center center;
  }
}

.container {
  margin: 0 1.5rem 0 1.5rem;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 40em) {
  .container {
    margin: 0 2.5rem 0 2.5rem;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

.font--bigger {
  font-size: 1rem;
}
@media (min-width: 40em) {
  .font--bigger {
    font-size: 1.125rem;
  }
}

.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  color: transparent;
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex--jc-c {
  justify-content: center;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

/* This is custom design of the select tag */
.custom-select {
  background-color: transparent;
  border-bottom: 1px solid #333950;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  color: #333950;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.custom-select .custom-select__arrow {
  content: url("./../assets/sign-up/icon-arrow-down.svg");
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.25rem);
  transition: transform 300ms ease-in-out;
}

.rotation {
  transform: rotate(180deg);
}

.custom-options {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  width: 90%;
  padding: 0.3rem 2rem;
  margin-top: 0rem;
  box-sizing: border-box;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.custom-options > div {
  width: 100%;
  padding: 1rem;
  color: #333950;
  font-weight: 700;
  position: relative;
}
.custom-options > div:not(:last-child) {
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
}
.custom-options > div:hover {
  cursor: pointer;
  color: #5175FF;
  border-bottom: 1px solid #5175FF;
}
.custom-options--is-selected::after {
  content: url("./../assets/sign-up/icon-check.svg");
  position: absolute;
  right: 1rem;
}

/*
// https://moderncss.dev/custom-select-styles-with-pure-css/
// https://www.w3schools.com/howto/howto_custom_select.asp
*/
.form__container {
  background-color: white;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 0.8125rem;
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  position: relative;
}
@media (min-width: 40em) {
  .form__container {
    width: 27.8125rem;
  }
}

.component-wrap {
  position: relative;
  height: 4.375rem;
}
.component-wrap label {
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: 1.4rem;
  transition: all 300ms ease-in-out;
}

.normal label {
  transform: translateY(-1.7rem);
  font-size: 0.8rem;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 1px solid #747B95;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding: 0.9rem;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}
input[type=text].error, input[type=email].error {
  border-bottom: 1px solid #F05B5B;
  color: #F05B5B;
  position: relative;
  background-image: url("./../assets/sign-up/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(116, 123, 149, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: rgba(116, 123, 149, 0.5);
}

::placeholder {
  color: rgba(116, 123, 149, 0.5);
}

.button {
  padding: 0.875rem 2.5625rem;
  font-weight: 600;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  border-radius: 1.75rem;
  line-height: 1.75rem;
  display: inline-block;
  border: none;
}
.button--dark-blue {
  color: white;
  background-color: #5175FF;
}
.button--dark-blue:hover {
  background-color: #829CFF;
}
.button--light-blue {
  color: #5175FF;
  background-color: #e1e6fb;
}
.button--light-blue:hover {
  background-color: #cfd8fb;
}
.button--white {
  color: #5175FF;
  background-color: white;
}
.button--white:hover {
  color: #829CFF;
}
.button--shadow {
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}
.button--full {
  width: 100%;
  margin: 1rem 0rem;
}

.header {
  padding: 2.875rem 0 5rem 0;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 40em) {
  .header {
    justify-content: left;
    padding: 4.5rem 0 6.5rem 0;
  }
}
@media (min-width: 64em) {
  .header {
    padding: 5.0625rem 0 6.375rem 0;
  }
}
.header__link {
  position: relative;
  z-index: 5;
}
.header__logo {
  width: 9.6875rem;
}
.header::after {
  content: "";
  background-image: url("./../assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -100%;
  width: 28.625rem;
  height: 28.625rem;
  position: absolute;
  z-index: 1;
}
@media (min-width: 40em) {
  .header::after {
    width: 41.625rem;
    height: 41.625rem;
    right: -20rem;
    top: -75%;
  }
}
@media (min-width: 64em) {
  .header::after {
    width: 70.875rem;
    height: 70.875rem;
    right: -45%;
    top: -190%;
  }
}
@media (min-width: 40em) {
  .header__background::after {
    background-image: none;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  margin-bottom: 55.625rem;
  /*signup page*/
}
@media (min-width: 40em) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 40.625rem;
  }
}
@media (min-width: 64em) {
  .hero {
    align-items: flex-start;
    margin-bottom: 21.875rem;
  }
}
.hero__text {
  max-width: 33.75rem;
}
.hero__headline {
  margin-top: 4;
}
@media (min-width: 40em) {
  .hero__headline {
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .hero__headline {
    margin-top: 4.46875rem;
  }
}
.hero__image img {
  width: 10.6875rem;
}
@media (min-width: 40em) {
  .hero__image img {
    width: 17.5625rem;
  }
}
@media (min-width: 64em) {
  .hero__image img {
    width: 32.8125rem;
  }
}
.hero__signup {
  flex-direction: column;
  margin-bottom: 5.5rem;
}
@media (min-width: 40em) {
  .hero__signup {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .hero__signup {
    text-align: left;
    flex-direction: row;
    align-items: center;
  }
}

.bg-footer {
  position: relative;
  background-color: #25293A;
  background-image: url("./../assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: 75.125rem 75.125rem;
  background-position: center 10rem;
  width: 100%;
}
@media (min-width: 40em) {
  .bg-footer {
    background-size: 90.875rem 90.875rem;
    background-position: center top;
  }
}
@media (min-width: 64em) {
  .bg-footer {
    background-position: -25rem center;
  }
}

.price-table {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 40em) {
  .price-table {
    text-align: left;
  }
}
@media (min-width: 64em) {
  .price-table {
    flex-direction: row;
    justify-content: space-between;
  }
}
.price-table__column {
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.8125rem;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}
@media (min-width: 40em) {
  .price-table__column {
    padding: 3rem;
  }
}
@media (min-width: 64em) {
  .price-table__column {
    width: 31.5%;
    margin-bottom: 0rem;
    text-align: center;
  }
}
.price-table__column span {
  display: block;
}
.price-table--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 40em) {
  .price-table--flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 64em) {
  .price-table--flex {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 40em) {
  .price-table__inner-col {
    width: 44%;
  }
}
@media (min-width: 64em) {
  .price-table__inner-col {
    width: 100%;
  }
}
.price-table--white {
  background-color: white;
}
.price-table--white .version {
  color: #333950;
  margin: 0 0 2.5rem 0;
}
@media (min-width: 40em) {
  .price-table--white .version {
    margin-bottom: 1rem;
  }
}
@media (min-width: 64em) {
  .price-table--white .version {
    margin-bottom: 2.5rem;
  }
}
.price-table--white .price {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #333950;
  margin-bottom: 0.5rem;
}
.price-table--white .users {
  color: #333950;
  align-items: center;
  margin-bottom: 3.5rem;
}
@media (min-width: 40em) {
  .price-table--white .users {
    margin-bottom: 0rem;
  }
}
@media (min-width: 64em) {
  .price-table--white .users {
    margin-bottom: 3.5rem;
  }
}
.price-table--white .info {
  color: #747B95;
  margin-bottom: 2rem;
}
.price-table--white .info br {
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .price-table--white .info {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 64em) {
  .price-table--white .info {
    margin-bottom: 2rem;
  }
}
.price-table--blue {
  background-color: #5175FF;
  background-image: url("./../assets/home/bg-pattern-pricing.svg");
  background-position: center bottom;
}
.price-table--blue .version {
  color: white;
  margin: 0 0 2.5rem 0;
}
@media (min-width: 40em) {
  .price-table--blue .version {
    margin-bottom: 1rem;
  }
}
@media (min-width: 64em) {
  .price-table--blue .version {
    margin-bottom: 2.5rem;
  }
}
.price-table--blue .price {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: white;
  margin-bottom: 0.5rem;
}
.price-table--blue .users {
  color: white;
  align-items: center;
  margin-bottom: 3.5rem;
}
@media (min-width: 40em) {
  .price-table--blue .users {
    margin-bottom: 0rem;
  }
}
@media (min-width: 64em) {
  .price-table--blue .users {
    margin-bottom: 3.5rem;
  }
}
.price-table--blue .info {
  color: #cfd8fb;
  margin-bottom: 2rem;
}
.price-table--blue .info br {
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .price-table--blue .info {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 64em) {
  .price-table--blue .info {
    margin-bottom: 2rem;
  }
}

.timer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media (min-width: 40em) {
  .timer {
    width: 28rem;
  }
}
@media (min-width: 64em) {
  .timer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.timer__clocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
@media (min-width: 64em) {
  .timer__clocks {
    max-width: 28rem;
  }
}
.timer__card {
  background-color: #333950;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  width: 23%;
}
@media (min-width: 40em) {
  .timer__card {
    border-radius: 0.8125rem;
    padding: 1.5rem 1.125rem 1rem;
  }
}
.timer__number {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  display: block;
  color: white;
}
@media (min-width: 40em) {
  .timer__number {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.timer__units {
  font-size: 0.75rem;
  line-height: 1.75rem;
  font-size: 700;
  display: block;
  color: #747B95;
}
@media (min-width: 40em) {
  .timer__units {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
.timer--light .timer__card {
  background-color: #e1e6fb;
}
.timer--light .timer__number {
  color: #5175FF;
}

.footer {
  padding-top: 55.625rem;
  padding-bottom: 5.6875rem;
}
@media (min-width: 40em) {
  .footer {
    padding-top: 37.375rem;
  }
}
@media (min-width: 64em) {
  .footer {
    padding-top: 21.875rem;
    padding-bottom: 6.25rem;
  }
}
.footer > h3 {
  color: white;
  text-align: center;
}
@media (min-width: 64em) {
  .footer > h3 {
    text-align: left;
  }
}
.footer__date {
  color: #5175FF;
}

/*# sourceMappingURL=style.css.map */
