* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: #747B95;
  font-weight: 300;
  line-height: 1.75;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #333950;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #333950;
}

h3 {
  font-size: 1rem;
  line-height: 3rem;
  color: #333950;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

main {
  position: relative;
  z-index: 5;
}

.content {
  overflow-x: hidden;
  width: 100vw;
}

.container {
  margin: 0 1.5rem 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media (min-width: 40em) {
  .container {
    margin: 0 2.5rem 0 2.5rem;
  }
}

@media (min-width: 64em) {
  .container {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

p {
  padding-bottom: 1.5rem;
}

.font--bigger {
  font-size: 1rem;
}

@media (min-width: 40em) {
  .font--bigger {
    font-size: 1.125rem;
  }
}

.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  color: transparent;
  overflow: hidden;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #747B95;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  position: relative;
  display: block;
  width: 100%;
}

input[type="text"].error {
  border-bottom: 1px solid #F05B5B;
  color: #F05B5B;
  position: relative;
  background-image: url("./../assets/sign-up/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(116, 123, 149, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: rgba(116, 123, 149, 0.5);
}

::-ms-input-placeholder {
  color: rgba(116, 123, 149, 0.5);
}

::placeholder {
  color: rgba(116, 123, 149, 0.5);
}

.button {
  padding: 0.875rem 2.5625rem;
  font-weight: 600;
  border-radius: 1.75rem;
  line-height: 1.75rem;
  display: inline-block;
}

.button--dark-blue {
  color: white;
  background-color: #5175FF;
}

.button--dark-blue:hover {
  background-color: #829CFF;
}

.button--light-blue {
  color: #5175FF;
  background-color: #e1e6fb;
}

.button--light-blue:hover {
  background-color: #cfd8fb;
}

.button--white {
  color: #5175FF;
  background-color: white;
}

.button--white:hover {
  color: #829CFF;
}

.button--shadow {
  -webkit-box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
          box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

/* This is custom design of the select tag */
.custom-select {
  background-color: transparent;
  border-bottom: 1px solid #333950;
  padding: 1rem;
  width: 100%;
  color: #333950;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.custom-select .custom-select__arrow {
  content: url("./../assets/sign-up/icon-arrow-down.svg");
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.25rem);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.rotation {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-options {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  width: 100%;
  padding: 0.3rem 2rem;
  margin-top: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
          box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.custom-options > div {
  width: 100%;
  padding: 1rem;
  color: #333950;
  font-weight: 700;
  position: relative;
}

.custom-options > div:not(:last-child) {
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
}

.custom-options > div:hover {
  cursor: pointer;
  color: #5175FF;
  border-bottom: 1px solid #5175FF;
}

.custom-options--is-selected::after {
  content: url("./../assets/sign-up/icon-check.svg");
  position: absolute;
  right: 1rem;
}

/*
// https://moderncss.dev/custom-select-styles-with-pure-css/
// https://www.w3schools.com/howto/howto_custom_select.asp
*/
.header {
  padding: 2.875rem 0 5rem 0;
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*
    background-image: url("./../assets/home/bg-pattern-header.svg");
    background-size: 28.625rem 28.625rem;
    background-repeat: no-repeat;
    */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 40em) {
  .header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 4.5rem 0 6.5rem 0;
  }
}

@media (min-width: 64em) {
  .header {
    padding: 5.0625rem 0 6.375rem 0;
  }
}

.header__link {
  position: relative;
  z-index: 5;
}

.header__logo {
  width: 9.6875rem;
}

.header::after {
  content: "";
  background-image: url("./../assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -100%;
  width: 28.625rem;
  height: 28.625rem;
  position: absolute;
  z-index: 1;
}

@media (min-width: 40em) {
  .header::after {
    width: 41.625rem;
    height: 41.625rem;
    right: -20rem;
    top: -75%;
  }
}

@media (min-width: 64em) {
  .header::after {
    width: 70.875rem;
    height: 70.875rem;
    right: -45%;
    top: -190%;
  }
}

.header__signup::after {
  background-image: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 55.625rem;
}

@media (min-width: 40em) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    margin-bottom: 40.625rem;
  }
}

@media (min-width: 64em) {
  .hero {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 21.875rem;
  }
}

.hero__text {
  max-width: 33.75rem;
}

.hero__headline {
  margin-top: 4;
}

@media (min-width: 40em) {
  .hero__headline {
    margin-top: 0;
  }
}

@media (min-width: 64em) {
  .hero__headline {
    margin-top: 4.46875rem;
  }
}

.hero__image img {
  width: 10.6875rem;
}

@media (min-width: 40em) {
  .hero__image img {
    width: 17.5625rem;
  }
}

@media (min-width: 64em) {
  .hero__image img {
    width: 32.8125rem;
  }
}

.bg-footer {
  position: relative;
  background-color: #25293A;
  background-image: url("./../assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: 75.125rem 75.125rem;
  background-position: center 10rem;
  width: 100%;
}

@media (min-width: 40em) {
  .bg-footer {
    background-size: 90.875rem 90.875rem;
    background-position: center top;
  }
}

@media (min-width: 64em) {
  .bg-footer {
    background-position: -25rem center;
  }
}

.prize-table {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 40em) {
  .prize-table {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .prize-table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.prize-table__column {
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.8125rem;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
          box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

@media (min-width: 40em) {
  .prize-table__column {
    padding: 3rem;
  }
}

@media (min-width: 64em) {
  .prize-table__column {
    width: 31.5%;
    margin-bottom: 0rem;
    text-align: center;
  }
}

.prize-table__column span {
  display: block;
}

.prize-table--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .prize-table--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 64em) {
  .prize-table--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 40em) {
  .prize-table__inner-col {
    width: 44%;
  }
}

@media (min-width: 64em) {
  .prize-table__inner-col {
    width: 100%;
  }
}

.prize-table--white {
  background-color: white;
}

.prize-table--white .version {
  color: #333950;
  margin: 0 0 2.5rem 0;
}

@media (min-width: 40em) {
  .prize-table--white .version {
    margin-bottom: 1rem;
  }
}

@media (min-width: 64em) {
  .prize-table--white .version {
    margin-bottom: 2.5rem;
  }
}

.prize-table--white .prize {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #333950;
  margin-bottom: 0.5rem;
}

.prize-table--white .users {
  color: #333950;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

@media (min-width: 40em) {
  .prize-table--white .users {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .prize-table--white .users {
    margin-bottom: 3.5rem;
  }
}

.prize-table--white .info {
  color: #747B95;
  margin-bottom: 2rem;
}

.prize-table--white .info br {
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .prize-table--white .info {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 64em) {
  .prize-table--white .info {
    margin-bottom: 2rem;
  }
}

.prize-table--blue {
  background-color: #5175FF;
  background-image: url("./../assets/home/bg-pattern-pricing.svg");
  background-position: center bottom;
}

.prize-table--blue .version {
  color: white;
  margin: 0 0 2.5rem 0;
}

@media (min-width: 40em) {
  .prize-table--blue .version {
    margin-bottom: 1rem;
  }
}

@media (min-width: 64em) {
  .prize-table--blue .version {
    margin-bottom: 2.5rem;
  }
}

.prize-table--blue .prize {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: white;
  margin-bottom: 0.5rem;
}

.prize-table--blue .users {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

@media (min-width: 40em) {
  .prize-table--blue .users {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .prize-table--blue .users {
    margin-bottom: 3.5rem;
  }
}

.prize-table--blue .info {
  color: #cfd8fb;
  margin-bottom: 2rem;
}

.prize-table--blue .info br {
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .prize-table--blue .info {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 64em) {
  .prize-table--blue .info {
    margin-bottom: 2rem;
  }
}

.footer {
  padding-top: 55.625rem;
  padding-bottom: 5.6875rem;
}

@media (min-width: 40em) {
  .footer {
    padding-top: 37.375rem;
  }
}

@media (min-width: 64em) {
  .footer {
    padding-top: 21.875rem;
    padding-bottom: 6.25rem;
  }
}

.footer > h3 {
  color: white;
  text-align: center;
}

@media (min-width: 64em) {
  .footer > h3 {
    text-align: left;
  }
}

.footer__date {
  color: #5175FF;
}

.footer .timer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

@media (min-width: 40em) {
  .footer .timer {
    width: 28rem;
  }
}

@media (min-width: 64em) {
  .footer .timer {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .timer__clocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .footer .timer__clocks {
    max-width: 28rem;
  }
}

.footer .timer__card {
  background-color: #333950;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  width: 23%;
}

@media (min-width: 40em) {
  .footer .timer__card {
    border-radius: 0.8125rem;
    padding: 1.5rem 1.125rem 1rem;
  }
}

.footer .timer__number {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  display: block;
  color: white;
}

@media (min-width: 40em) {
  .footer .timer__number {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.footer .timer__units {
  font-size: 0.75rem;
  line-height: 1.75rem;
  font-size: 700;
  display: block;
  color: #747B95;
}

@media (min-width: 40em) {
  .footer .timer__units {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */