html, body{
    height: 100%;
}

.wrapper{
   position: absolute;
   min-height: 100%;
}

.wrapper::after{
    content: "";
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: aqua;
    z-index: -1;
}

@media only screen and (max-width: 800px){
    .wrapper::after{     
        height: 300px;
        width: 100%;
        left: 0;
        bottom: 0;
        top: unset;
    }
}